@use "../base/theme";

.c-form-input {
    padding-block: 12px;
    padding-inline: 16px;
    font-family: theme.$base-text-lato;
    border: 1px solid rgba(theme.$dark-black, 0.75);
    inline-size: 100%;
} 

.c-form-textarea {
    padding-block: 9px;
    padding-inline: 16px;
    min-block-size: 131px;
    resize: none;
    font-family: theme.$base-text-lato;
    border: 1px solid rgba(theme.$dark-black, 0.75);
    inline-size: 100%;

}