@use "../base/theme";

@mixin button-aspect {
  font-family: theme.$base-text-lato;
  font-size: theme.$fs-18;
  color: theme.$dark-black;
  background-color: theme.$orange-main;
  padding-inline: 9px;
  padding-block: 9px;
  line-height: 133.33%;
  cursor: pointer;
  font-weight: bold;
}