@use "../utils/classes";
@use "../base/reset";
@use "../base/theme";
@use "../components/buttons";
@use "../utils/typo";


/* Main hero header */
header {
  height: 674px;

  background-color: theme.$dark-black;
  position: relative;
  background-color: violet;
  overflow: hidden; // cache spread effet fondu 
}
.faded-header-bg {
  position: absolute;
  z-index: 2;
  left:0;
  bottom: 0;
  width: 50%; // moins le fondu
  height: 100%;
  background-color: theme.$dark-black;
  box-shadow: 0px 0 100px 200px theme.$dark-black; // Si que spread et pas X, le fondu n'est pas bon 
}
.left-hero-tentacles {
  position: absolute;
  z-index: 1;
  right:0;
}
.header-container {
  position: relative;
  z-index: 3; /* pour être au-dessus de l'effet fondu car ils ont créé des CE */
}
.main-surtitle {
  margin-top: 142px;
  font-size: theme.$fs-18;
  color: theme.$main-white;
  font-weight: 300;
}
.main-title {
  @include typo.main-title(theme.$fs-80);
  margin-bottom: 24px;
}
.main-subtitle {
  font-size: theme.$fs-18;
  color: theme.$main-white;
  font-weight: 300;
  margin-bottom: 32px;
}

.header-cta {
  @include buttons.golden-button(236px);
  margin-bottom: 142px;
}

.header-bottom-paragraphs {
  display: inline-flex;
  align-items: center;
  color: theme.$main-white;
  font-family: theme.$text-font-2-raleway;
}
.header-bottom-paragraphs img {
  width: theme.$fs-24;
  height: theme.$fs-24;
  margin-right: 8px;
}
.header-bottom-paragraphs:nth-child(1){
  margin-right: 32px;
}


/* Section 1 */

.section-1 {
  display: flex;
  padding: 104px 0;
}
.section-1 img {
  margin-right: 105px;
}
.section-1 .section-h2 {
  @include typo.section-h2();
  margin-bottom: 16px;
}
.basic-text {
  @include typo.basic-text();
}