.u-container {
    max-inline-size: 1100px;
    padding-inline: 20px;
    margin-inline: auto;
    box-sizing: content-box;
  }
  
  @media (max-width: 1130px) {
    .u-container {
      max-inline-size: 850px;
    }
  }