@use "../base/theme";

@mixin main-title($fontSize) {
  font-size: #{$fontSize};
  font-family: theme.$heading-font-antic;
  color: theme.$main-white;
  font-weight: 300;

}

@mixin section-h2(){
  font-size: theme.$fs-36;
  font-family: theme.$heading-font-antic;
  font-family: 100;
  letter-spacing: 0.72px;
  color: theme.$dark-black;
  line-height: 155.556%;
  text-transform: uppercase;
}

@mixin basic-text(){
  color: theme.$dark-black;
  font-family: theme.$text-font-1-lato;
  font-size: theme.$fs-18;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 177.778% */
}
